---
title: ПД О районе
---
extends layouts/_layout
block content
	//begin main
	+b.DIV.main
		//begin view
		+b.view
			#map.view__map
			//-markers
			-markersClass = '_view';
				include components/_markers
		//end view
	//end main

	//-category
	-categoryClass = '_float-bottom'
	-categoryList = [{colorMod: 'beige', picMod: 'loupe', img: '3', text: 'Поиск', brText: 'квартиры'}]
	include components/_category

block scripts
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9Ce7om3IPU27xiTdg8xDE5aGTKw5lX50")
	script(async type="text/javascript" src="js/app.js")