---
title: ПД Преимущества
---
extends layouts/_layout
block content
	//begin main
	+b.DIV.main._has-decor

			//-advantage
			-
				var advantageList = [{
				title: 'Двор без машин',
				posClass: '1',
				pic: 'bench',
				detailsTitle: 'Двор без машин'
				},{
				title: 'От квартиры до',
				brTitle: 'машины - пара минут',
				posClass: '2',
				pic: 'car-parking',
				detailsTitle: 'От квартиры до машины - пара минут'
				},{
				title: 'Квартиры с террасами',
				posClass: '3',
				pic: 'room',
				detailsTitle: 'Квартиры с террасами'
				},{
				title: 'Экономия на',
				brTitle: 'коммунальных платежах',
				posClass: '4',
				pic: 'piggy-bank',
				detailsTitle: 'Экономия на коммунальных платежах'
				},{
				title: 'Рядом набережная',
				posClass: '5',
				pic: 'waterfall',
				detailsTitle: 'Экономия на коммунальных платежах'
				},{
				title: 'Эстетика как',
				brTitle: 'образ жизни',
				posClass: '6',
				pic: 'building',
				detailsTitle: 'Эстетика как образ жизни'
				},{
				title: 'Приятное окружение',
				brTitle: 'на долгие годы',
				posClass: '7',
				pic: 'handshake',
				detailsTitle: 'Приятное окружение на долгие годы'
				},{
				title: 'Система видеонаблюдения',
				brTitle: 'по всему ЖК',
				posClass: '8',
				pic: 'camera',
				detailsTitle: 'Система видеонаблюдения по всему ЖК'
				},{
				title: 'Современные',
				brTitle: 'инженерные системы',
				posClass: '9',
				pic: 'artificial',
				detailsTitle: 'Современные инженерные системы'
				},{
				title: 'Беби-клуб, фитнес зал,',
				brTitle: 'салон красоты',
				posClass: '10',
				pic: 'baby',
				detailsTitle: 'Беби-клуб, фитнес зал, салон красоты'
				},{
				title: 'Детская площадка',
				brTitle: 'с антитравматичным покрытием',
				posClass: '11',
				pic: 'swing',
				detailsTitle: 'Детская площадка с антитравматичным покрытием'
				}];
			include components/_advantage
	//end main

	//-category
	-categoryClass = '_float-top'
	-categoryList = [{colorMod: 'beige', picMod: 'planning', img: '3', text: 'Выбор', brText: 'планировки'}]
	include components/_category