---
title: ПД Документация
---
extends layouts/_layout
block content
	//begin main
	+b.DIV.main._has-decor.js-main
		//begin documentation
		+b.SECTION.doc
			+e.H2.title.title-decor-sm
				+e.SPAN Документация
			+e.P.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			+b.doc-download
				+e.row
					+e.item
						+e.DIV.item-img._pic
						+e.A.item-link(href='#!') Свидетельство ИНН
						+e.SPAN.item-size (170.33 KB)
					+e.A.btn.btn._red(href='#!' download) Скачать

				+e.row
					+e.item
						+e.DIV.item-img._pic
						+e.A.item-link(href='#!') Свидетельство ОГРН
						+e.SPAN.item-size (167.85 KB)
					+e.A.btn.btn._red(href='#!' download) Скачать

				+e.row
					+e.item
						+e.DIV.item-img._pdf
						+e.A.item-link(href='#!') Постановление
						+e.SPAN.item-size (170.33 KB)
					+e.A.btn.btn._red(href='#!' download) Скачать

				+e.row
					+e.item
						+e.DIV.item-img._pic
						+e.A.item-link(href='#!') Свидетельство о собственности на земельный участок
						+e.SPAN.item-size (167.85 KB)
					+e.A.btn.btn._red(href='#!' download) Скачать

				+e.row
					+e.item
						+e.DIV.item-img._pic
						+e.A.item-link(href='#!') Свидетельство ИНН
						+e.SPAN.item-size (170.33 KB)
					+e.A.btn.btn._red(href='#!' download) Скачать

				+e.row
					+e.item
						+e.DIV.item-img._pic
						+e.A.item-link(href='#!') Свидетельство ОГРН
						+e.SPAN.item-size (167.85 KB)
					+e.A.btn.btn._red(href='#!' download) Скачать

				+e.row
					+e.item
						+e.DIV.item-img._pdf
						+e.A.item-link(href='#!') Постановление
						+e.SPAN.item-size (170.33 KB)
					+e.A.btn.btn._red(href='#!' download) Скачать

				+e.row
					+e.item
						+e.DIV.item-img._pic
						+e.A.item-link(href='#!') Свидетельство о собственности на земельный участок
						+e.SPAN.item-size (167.85 KB)
					+e.A.btn.btn._red(href='#!' download) Скачать

				+e.row
					+e.item
						+e.DIV.item-img._pic
						+e.A.item-link(href='#!') Свидетельство ИНН
						+e.SPAN.item-size (170.33 KB)
					+e.A.btn.btn._red(href='#!' download) Скачать

				+e.row
					+e.item
						+e.DIV.item-img._pic
						+e.A.item-link(href='#!') Свидетельство ОГРН
						+e.SPAN.item-size (167.85 KB)
					+e.A.btn.btn._red(href='#!' download) Скачать

		//end documentation

		//-category
		-categoryClass = '_float-top'
		-categoryList = [{colorMod: 'beige', picMod: 'planning', img: '3', text: 'Выбор', brText: 'планировки'}]
		include components/_category
//end main