---
title: ПД Концепция проекта
---
extends layouts/_layout
block content
	//begin main
	+b.MAIN.main
		//begin floor
		+b.floor(style='background-image: url(img/content/floor-choice-1-2.jpg)')
			+e.sect
				+e.sect
		//end floor
	//end main