---
title: ПД Историческая справка
---
extends layouts/_layout
block content
	//begin main
	+b.DIV.main._has-decor

		+b.SECTION.history
			+e.H2.title.title-decor-sm
				+e.SPAN Историческая справка
			+e.ARTICLE.article
				+e.article-top
					+e.article-img
						+b.IMG.obj-fit(src='img/content/history_img.jpg')
						+e.article-img-decor
					+e.article-text
						+e.H4.article-title К истокам старой Самары: улица Преображенская
						+e.P.article-descr Строительство жилого комплекса «Преображенский двор» ведётся в границах улиц Водников, Алексея Толстого, Крупской и Комсомольской. Именно с улицей Водников связана большая история нашего города. Это одна из самых старых городских улиц, которая берет начало от реки Самары, а затем идёт параллельно Волге. В точке, где сходятся три современные улицы - Водников, Засекина и Кутякова, в середине XVI века возникла первая деревянная крепость нашего города. Построили её по приказу воеводы Григория Засекина - с тех пор 1586 год считается годом основания Самары.
						+e.P.article-descr Сначала улица называлась Большой. По ней шла дорога, соединявшая древние Спасские ворота самарской крепости и волжскую пристань. Уже тогда Большая улица являлась важнейшим узлом городской транспортной структуры. А на углу улиц, которые сегодня носят название Водников и Кутякова, располагался Спасо-Преображенский храм, возведённый в 1685 году. Сначала он был деревянным, а затем каменным, находясь на территории Спасо-Преображенского женского монастыря. С 1860 года вся улица получила название Преображенской - в честь храма и монастыря, к которым вела. А в XIX веке на углу нынешних улиц Водников и Комсомольской выросла ещё и каменная церковь Успения. Здание было выполнено в стиле русского классицизма, который задал тон для всей последующей застройки Преображенской улицы. Именно здесь находятся архитектурные корни так называемого «старого города». К сожалению, в середине XX века Преображенский храм прекратил своё существование, монастырь был закрыт ещё раньше, но звучное название улицы сохранилось в истории города.
				+e.P.article-descr В этих же Преображенских кварталах в 1820-е годы был построен первый в городе жилой каменный дом. Строение расположилось на углу современных улиц Водников и Григория Засекина. Так что можно сказать, что каменное жилищное строительство в Самаре началось здесь же, на бывшей улице Преображенской.
				+e.H6.article-sub-title Исторические соседи: наследие веков и перспективы будущего

				+e.P.article-descr Соседство с объектами культурного наследия федерального значения – еще одна важнейшая характеристика локации, где возводится жилой комплекс «Преображенский двор». «Дом Субботиной-Мартинсон», «Усадьба Субботина», «Дом почетного гражданина Щелокова А.Н.», Памятник Ф.Э. Дзержинскому - вот лишь некоторые архитектурные объекты, формирующие уникальный исторический облик этих кварталов. А здания в смежных кварталах связаны с не менее яркими страницами в истории города и всей страны. Например, здесь функционировала женская гимназия, где училась М.И. Ульянова, реальное училище, воспитанниками которого были Г.М. Кржижановский и А.Н. Толстой.
				+e.P.article-descr Планировочные границы квартала в границах улиц Водников, Алексея Толстого, Крупской и Комсомольской были сформированы еще в конце XVIII столетия. Тогда территория квартала предназначалась исключительно для частного домостроения, причем горожанам предписывалось не просто строить жилые и хозяйственные строения, но и оставлять свободным придомовой участок для садово-огородного использования. Так и получилось: во второй половине XIX века вся территория этого квартала была занята мелкомасштабной жилой застройкой. Горожане жили и отдыхали здесь с комфортом, в максимальной близости от двух рек и центральных улиц. Начиная с XX века к небольшим частным домовладениям присоединяются крупноформатные доходные объекты – среди них были и «Дом Субботиной-Мартинсон», и комплекс зданий на ул. Алексея Толстого, 22.
				+e.P.article-descr Сколько историй помнят стены исторических домовладений! Например, здание «Дома Субботиной-Мартинсон» в начале XIX века входило в состав городской усадьбы графини Александры Толстой. В дальнейшем ее сын Петр продал здание самарскому купцу Василию Бурееву, который и занялся комплексной перестройкой объекта. Затем здание продолжало менять собственников: в 1876 году отошло во владение самарского отделения Волжско-Камского Коммерческого банка, а в 1910 году было приобретено Потомственным почетным гражданином А.А. Субботиным. Спустя семь лет его владельцем стал Д.Г. Мартинсон, а после 1923 года здание перешло в собственность государства. Исключительно бережное отношение к архитектурному наследию родного города вместе со стремлением возвести современный качественный жилой комплекс, отвечающий самым высоким стандартам жилищного строительства, - именно с такой миссией следует подходить к возведению нового жилья в этой части города.

		//-category
		-categoryClass = '_float-top'
		-categoryList = [{colorMod: 'beige', picMod: 'planning', img: '3', text: 'Выбор', brText: 'планировки'}]
		include components/_category
//end main