---
title: ПД Главная
---
extends layouts/_layout
block content
  //begin main
  +b.DIV.main._home
    +b.home.js-toggle-bg
      +e.bg.bg-day(style='background-image: url(img/bg/home-bg_day.jpg)')
      +e.bg.bg-night(style='background-image: url(img/bg/home-bg_night.jpg)')

      -var categoryClass= '_home';
      include components/_category

      //begin time-bar
      +b.time-bar._home
        +e.BUTTON.btn._day.is-active(type='button')
          +icon('icon-sun', 'time-bar__icon')
        +e.BUTTON.btn._night(type='button')
          +icon('icon-moon', 'time-bar__icon')
      //end time-bar
    +b.anim-mouse
      +e.point
  //end main