---
title: Новости и акции
---
extends layouts/_layout
block content
	//begin main
	+b.MAIN.main.news
		//begin tabs
		+b.tabs.js-tabs.tabs_how-buy
			+e.container.container
				+e.H2.title.title-decor-sm
					+e.SPAN Новости
				+e.UL.nav
					+e.LI.nav-item Пресса о нас
					+e.LI.nav-item Интервью
					+e.LI.nav-item Наша жизнь
				+e.content
					+e.content-item
						+e.ARTICLE.article
							+e.article-img-wrap
								+e.IMG.img.obj-fit(src='img/content/news-1.jpg')
							+e.article-text
								+e.H5.content-title Рассрочка квартиры
								+e.content-date 26/05/2017
								+e.P.content-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								+e.A.btn.btn_red(href='#!') Подробнее

					+e.content-item
						+e.H5.content-title Рассрочка квартиры
						+e.P.content-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					+e.content-item
						+e.H5.content-title Покупка квартиры
						+e.P.content-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						+e.P.content-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						+e.P.content-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		//end tabs
	//end main
