---
title: Паркинг
---
extends layouts/_layout
block content
	//begin main
	+b.DIV.main._has-decor

		//begin parking
		+b.SECTION.parking
			+e.H2.title.title-decor-xl._small-red
				+e.SPAN ПАРКИНГ
			+e.container.container
				+e.block
					+e.data

						+e.floor
							+e.SPAN.floor-count.js-floor-status
							+e.DIV.floor-text этаж

						+e.UL.info
							+e.LI.info-item
								+e.SPAN.info-text Номер места:&nbsp;
								+e.SPAN.info-data
							+e.LI.info-item
								+e.SPAN.info-text Общая площадь, м
									+e.SUP 2
									| :&nbsp;
								+e.SPAN.info-data
							+e.LI.info-item
								+e.SPAN.info-text Стоимость, руб.:&nbsp;
								+e.SPAN.info-data
					+e.scheme.js-parking-scheme
						+e.scheme-item
							+e.IMG(src='img/plans/parking.png' alt='img')
							+e.place._1
							+e.place._2
							+e.place._3

		//begin parking