---
title: Выбор квартиры/планировки
---
extends layouts/_layout
block content
	//begin main
	+b.DIV.main._has-decor

		//begin plan
		+b.plan._flat
			+e.H2.title.title-decor-xl._small-red
				+e.SPAN Выбор квартиры/планировки
			+e.container.container
				+e.block._has-compass

					.plan__block-view
						+e.street._1
							+e.SPAN.street-text Ул. Комсомольская
						+e.street._2
							+e.SPAN.street-text._has-label Ул. Водников
						+e.status
							+e.SPAN.status-count.js-status
							+e.SPAN.status-text этаж

						+e.look.js-plan-look
							+e.look-pic
								+e.IMG(src='img/plans/1-sect_2-floor.jpg')
							+e.look-pic
								+e.IMG(src='img/plans/1-sect_2-floor.jpg')
							+e.look-pic
								+e.IMG(src='img/plans/1-sect_2-floor.jpg')

					+b.plan-data.plan__block-data
						+e.H3.title 1 секция
						+e.text
							+e.H5.sub-title Подбор по параметрам
							+e.UL.list
								+e.LI.list-item
									+e.SPAN.list-text Номер квартиры:
									= ' '
									+e.SPAN.list-definition 1
								+e.LI.list-item
									+e.SPAN.list-text Кол-во комнат:
									= ' '
									+e.SPAN.list-definition 1
								+e.LI.list-item
									+e.SPAN.list-text Общая площадь, м
										+e.SUP 2
										| :&nbsp;
									+e.SPAN.list-definition 49,76
								+e.LI.list-item
									+e.SPAN.list-text Высота потолков, м:
									= ' '
									+e.SPAN.list-definition 3
								+e.LI.list-item
									+e.SPAN.list-text Ввод в эксплуатацию:
									= ' '
									+e.SPAN.list-definition 3 квартал 2018
								+e.LI.list-item
									+e.SPAN.list-text Стоимость, руб.:
									= ' '
									+e.SPAN.list-definition 4 000 000

						+e.general
							+e.general-title ГЕН. ПЛАН
							+e.general-pic
								+e.IMG(src='img/plans/gen-plan.png')

		//end plan
	//end main