---
title: Безопасность передвижения
---
extends layouts/_layout
block content
	//begin main
	+b.DIV.main
		//begin section
		+b.SECTION.section._safe(style='background-image: url(img/bg/safe_bg.jpg)')
			+e.container.container
				+e.H2.title.title-decor-xl._red
					+e.SPAN Безопасность передвижения
				+e.P.descr Проводить время на территории жилого комплекса не только комфортно, но и безопасно. Для детей – современная игровая площадка с антитравматичным покрытием, для пожилых и маломобильных жильцов – пандусы и подъемники, для всех без исключения – максимально дружелюбное окружающее пространство.
				+e.A.btn.btn._red-lg._decor(href='#!') Оставить заявку
		//end section
	//end main

	//-category
	-categoryClass = '_float-bottom-mod'
	-categoryList = [{colorMod: 'beige', picMod: 'planning', img: '3', text: 'Выбор', brText: 'планировки'}]
	include components/_category