---
title: Безопасность передвижения
---
extends layouts/_layout
block content
	//begin main
	+b.MAIN.main._beauty
		//begin beauty
		+b.beauty(style='background-image: url(img/bg/beauty_bg.jpg)')
			+e.container.container
				+e.H2.title.title-decor-xl
					+e.SPAN Смотри, как красиво
				+e.P.descr.descr-decor._white Центральные городские улицы и набережная в нескольких минутах ходьбы. Такие прогулки всегда будут в удовольствие, ведь каждый восход и каждый закат на Волге неповторимы!
				+e.BUTTON.btn.btn._red-lg(type='button') Оставить заявку
		//end beauty

		//begin arrow-link
		+b.A.arrow-link._white(href='#!') Смотри, как безопасно
		//end arrow-link
	//end main

	//-category
	-categoryClass = '_float-bottom-mod'
	-categoryList = [{colorMod: 'beige', picMod: 'planning', img: '3', text: 'Выбор', brText: 'планировки'}]
	include components/_category