---
title: Тех карта
---
extends layouts/_layout
block content
	//begin main
	+b.DIV.main.js-main
		//begin tech-map
		+b.SECTION.tech-map.js-tech-map
			+e.dot._1
				+e.info
					+e.H5.info-title Паркинг
					+e.P.info-descr Конструктив паркинга – монолитное литье, в основании цельная фундаментная плита.
					+e.P.info-descr Пол - высоконаполненное полимерцементное покрытие Glims HD (высокопрочный (М550), безусадочный двухкомпонентный материал для обустройства финишного покрытия) с нанесение разметки парковочных мест в различных цветовых решениях.
			+e.dot._2
				+e.info._left
					+e.H5.info-title Паркинг
					+e.P.info-descr Конструктив паркинга – монолитное литье, в основании цельная фундаментная плита.
					+e.P.info-descr Пол - высоконаполненное полимерцементное покрытие Glims HD (высокопрочный (М550), безусадочный двухкомпонентный материал для обустройства финишного покрытия) с нанесение разметки парковочных мест в различных цветовых решениях.
			+e.dot._3
				+e.info
					+e.H5.info-title Паркинг
					+e.P.info-descr Конструктив паркинга – монолитное литье, в основании цельная фундаментная плита.
					+e.P.info-descr Пол - высоконаполненное полимерцементное покрытие Glims HD (высокопрочный (М550), безусадочный двухкомпонентный материал для обустройства финишного покрытия) с нанесение разметки парковочных мест в различных цветовых решениях.
			+e.dot._4
				+e.info
					+e.H5.info-title Паркинг
					+e.P.info-descr Конструктив паркинга – монолитное литье, в основании цельная фундаментная плита.
					+e.P.info-descr Пол - высоконаполненное полимерцементное покрытие Glims HD (высокопрочный (М550), безусадочный двухкомпонентный материал для обустройства финишного покрытия) с нанесение разметки парковочных мест в различных цветовых решениях.
			+e.dot._5
				+e.info
					+e.H5.info-title Паркинг
					+e.P.info-descr Конструктив паркинга – монолитное литье, в основании цельная фундаментная плита.
					+e.P.info-descr Пол - высоконаполненное полимерцементное покрытие Glims HD (высокопрочный (М550), безусадочный двухкомпонентный материал для обустройства финишного покрытия) с нанесение разметки парковочных мест в различных цветовых решениях.
			+e.dot._6
				+e.info
					+e.H5.info-title Паркинг
					+e.P.info-descr Конструктив паркинга – монолитное литье, в основании цельная фундаментная плита.
					+e.P.info-descr Пол - высоконаполненное полимерцементное покрытие Glims HD (высокопрочный (М550), безусадочный двухкомпонентный материал для обустройства финишного покрытия) с нанесение разметки парковочных мест в различных цветовых решениях.
			+e.dot._7
				+e.info._left
					+e.H5.info-title Паркинг
					+e.P.info-descr Конструктив паркинга – монолитное литье, в основании цельная фундаментная плита.
					+e.P.info-descr Пол - высоконаполненное полимерцементное покрытие Glims HD (высокопрочный (М550), безусадочный двухкомпонентный материал для обустройства финишного покрытия) с нанесение разметки парковочных мест в различных цветовых решениях.
			+e.dot._8
				+e.info
					+e.H5.info-title Паркинг
					+e.P.info-descr Конструктив паркинга – монолитное литье, в основании цельная фундаментная плита.
					+e.P.info-descr Пол - высоконаполненное полимерцементное покрытие Glims HD (высокопрочный (М550), безусадочный двухкомпонентный материал для обустройства финишного покрытия) с нанесение разметки парковочных мест в различных цветовых решениях.
			+e.dot._9
				+e.info._left
					+e.H5.info-title Паркинг
					+e.P.info-descr Конструктив паркинга – монолитное литье, в основании цельная фундаментная плита.
					+e.P.info-descr Пол - высоконаполненное полимерцементное покрытие Glims HD (высокопрочный (М550), безусадочный двухкомпонентный материал для обустройства финишного покрытия) с нанесение разметки парковочных мест в различных цветовых решениях.
			+e.dot._10
				+e.info._left
					+e.H5.info-title Паркинг
					+e.P.info-descr Конструктив паркинга – монолитное литье, в основании цельная фундаментная плита.
					+e.P.info-descr Пол - высоконаполненное полимерцементное покрытие Glims HD (высокопрочный (М550), безусадочный двухкомпонентный материал для обустройства финишного покрытия) с нанесение разметки парковочных мест в различных цветовых решениях.
			+e.dot._11
				+e.info._top
					+e.H5.info-title Паркинг
					+e.P.info-descr Конструктив паркинга – монолитное литье, в основании цельная фундаментная плита.
					+e.P.info-descr Пол - высоконаполненное полимерцементное покрытие Glims HD (высокопрочный (М550), безусадочный двухкомпонентный материал для обустройства финишного покрытия) с нанесение разметки парковочных мест в различных цветовых решениях.
			+e.dot._12
				+e.info
					+e.H5.info-title Паркинг
					+e.P.info-descr Конструктив паркинга – монолитное литье, в основании цельная фундаментная плита.
					+e.P.info-descr Пол - высоконаполненное полимерцементное покрытие Glims HD (высокопрочный (М550), безусадочный двухкомпонентный материал для обустройства финишного покрытия) с нанесение разметки парковочных мест в различных цветовых решениях.
			+e.dot._13
				+e.info
					+e.H5.info-title Паркинг
					+e.P.info-descr Конструктив паркинга – монолитное литье, в основании цельная фундаментная плита.
					+e.P.info-descr Пол - высоконаполненное полимерцементное покрытие Glims HD (высокопрочный (М550), безусадочный двухкомпонентный материал для обустройства финишного покрытия) с нанесение разметки парковочных мест в различных цветовых решениях.
			+e.img.IMG(src='img/bg/tech-map.jpg')
//end tech-map