.advantage
	padding: 30px 0 15px 40px
	overflow: hidden
	&__title
		padding-right: 62px
		span
			padding: 0 170px
	&__in
		position: relative
		min-height: 850px
		margin-top: 35px
		&-title
			position: absolute
			top: 43.2%
			left: 28%
			max-width: 610px
			cursor: default
	&__item
		position: absolute
		display: flex
		align-items: center
		flex-direction: column
		min-width: 220px
		&::after
			content: ''
			position: absolute
			width: 1px
			background: rgba($crimson, .5)
		&.low-index
			z-index: -0
		&-circle
			position: relative
			display: flex
			align-items: center
			justify-content: center
			width: 98px
			height: 98px
			margin-bottom: 6px
			border-radius: 50%
			z-index: 20
			border: 2px solid $crimson
			&::after
				content: ''
				position: absolute
				top: 7px
				left: 7px
				right: 7px
				bottom: 7px
				border-radius: 50%
				border: 1px solid $crimson
				transition: background .4s ease-out
			&::before
				content: ''
				position: absolute
				top: 2px
				left: 2px
				right: 2px
				bottom: 2px
				border-radius: 50%
				border: 6px solid $white
		&-circle:hover ~ &-details
			opacity: 1
			&_bot
				transform: translateY(0)
			&_top
				transform: translateY(-100%)
		&-circle:hover::after
			background: $crimson
		&-circle:hover &-pic::after
			opacity: 1
			animation: flipInX 1s
		&-pic
			position: relative
			&::after
				position: relative
				content: ''
				display: block
				z-index: 10
				opacity: 0
			&_bench
				+s('bench')
				&::after
					+s('bench_w')
			&_car-parking
				+s('car-parking')
				&::after
					+s('car-parking_w')
			&_room
				+s('room')
				&::after
					+s('room_w')
			&_piggy-bank
				+s('piggy-bank')
				&::after
					+s('piggy-bank_w')
			&_waterfall
				+s('waterfall')
				&::after
					+s('waterfall_w')
			&_building
				+s('building')
				&::after
					+s('building_w')
			&_handshake
				+s('handshake')
				&::after
					+s('handshake_w')
			&_camera
				+s('camera')
				&::after
					+s('camera_w')
			&_artificial
				+s('artificial')
				&::after
					+s('artificial_w')
			&_baby
				+s('baby')
				&::after
					+s('baby_w')
			&_swing
				+s('swing')
				&::after
					+s('swing_w')
		&-title
			font-size: 18px
			color: $grey
			text-align: center
			cursor: default
		&-details
			position: absolute
			top: 49px
			left: calc(50% - 160px)
			z-index: 10
			width: 320px
			padding: 62px 20px 25px
			border-radius: 10px
			background: $crimson
			color: $white
			text-align: center
			opacity: 0
			transition: opacity .35s ease-in-out, transform .35s
			&-title
				margin-bottom: 13px
				+os-b
				font-size: 18px
				line-height: 20px
			&-descr
				font-size: 14px
				line-height: 17px
			&_bot
				transform: translateY(40%)
			&_top
				padding: 25px 20px 62px
				transform: translateY(-60%)
		&_1
			top: 4%
			left: 17.5%
			&::after
				height: 324px
				bottom: -204%
				right: -16%
				transform: rotate(124deg)
		&_2
			top: 1.4%
			left: 41%
			&::after
				height: 150px
				bottom: -104%
				right: 48%
		&_2	&-details-title
			max-width: 230px
			margin: 0 auto 13px
		&_3
			top: 4%
			left: 64.2%
			&::after
				height: 296px
				bottom: -194%
				right: 115%
				transform: rotate(-125deg) translate3d(0, 0, 0)
		&_4
			left: 80.5%
			top: 21.3%
			&::after
				height: 252px
				bottom: -61%
				right: 125%
				transform: rotate(-117deg) translate3d(0, 0, 0)
		&_5
			top: 45%
			left: 75%
			&::after
				height: 116px
				bottom: 22%
				right: 100%
				transform: rotate(-83deg) translate3d(0, 0, 0)
		&_6
			top: 68%
			left: 62.8%
			&::after
				height: 130px
				bottom: 88%
				right: 84%
				transform: rotate(-39deg) translate3d(0, 0, 0)
		&_7
			top: 83%
			left: 48.7%
			&::after
				height: 190px
				bottom: 98%
				right: 71%
				transform: rotate(-29deg) translate3d(0, 0, 0)
		&_8
			top: 82.6%
			left: 31.4%
			&::after
				height: 190px
				bottom: 97%
				right: 22%
				transform: rotate(29deg) translate3d(0, 0, 0)
		&_9
			top: 68%
			left: 17%
			&::after
				height: 125px
				bottom: 88%
				right: 16%
				transform: rotate(40deg) translate3d(0, 0, 0)
		&_10
			top: 45%
			left: 8%
			&::after
				height: 125px
				bottom: 26%
				right: -5%
				transform: rotate(90deg) translate3d(0, 0, 0)
		&_10	&-details-title
			max-width: 2151px
			margin: 0 auto 13px
		&_11
			top: 21%
			left: 2%
			&::after
				height: 248px
				bottom: -43%
				right: -29%
				transform: rotate(115deg) translate3d(0, 0, 0)
		&_11 &-title
			max-width: 180px
