.floor-choice
	+coverdiv
	overflow: hidden
	&__img
		+coverdiv

.floor-1
	position: absolute
	top: 61.4%
	left: -9px
	
	//fill-opacity: .5
	z-index: 1
	svg
		width: 690px
		height: 400px
#svgg:hover #path1
	//fill-opacity: .8