.floor-choice
	+coverdiv
	overflow: hidden
	&__img
		+coverdiv

/* floors
	----------------------------------- */
.floors
	+coverdiv
	z-index: 222
	
	svg
		width: 100%
		height: 100%
	&__item
		position: absolute
		&_1
			top: 59.7%
			left: 0
			width: 42.00526%
			height: 22.0875%
		&_2
			top: 54.4%
			left: 0
			width: 41.94211%
			height: 16.05%
		&_3
			top: 49.1%
			left: 0
			width: 42.1%
			height: 12.7%
			
	path
		fill: #fad5a9
		//opacity: 0
		opacity: .7
		cursor: pointer
		&:hover
			opacity: 1