.history
	padding: 60px 20px 15px 40px
	+lg
		padding: 60px 20px 15px 30px
	+xs
		padding: 70px 20px 30px
	&__container
		padding: 0
	&__title span
		padding: 0 96px
	&__article
		margin: 60px 0 0
		color: $grey
		+xs
			margin: 40px 0 0
		&-top
			margin-bottom: 30px
			+clr
			+lg
				margin-bottom: 15px
		&-title
			margin-bottom: 25px
			padding-right: 190px
			+f('con', 24)
			+lg
				padding-right: 150px
				margin-bottom: 10px
				font-size: 22px
			+sm
				padding-right: 0
		&-img
			position: relative
			float: left
			width: percentage(465 / 1452)
			margin-right: 2.8745%
			+lg
				margin-bottom: 20px
			+xs
				float: none
				width: 100%
			&::before, &::after
				content: ''
				position: absolute
				+s('horiz-decor-xs')
				left: calc(50% - 88px)
			&::before
				top: -15px
			&::after
				bottom: -15px
				+rotate(180)
			&-decor
				&::before, &::after
					content: ''
					position: absolute
					+s('horiz-decor-xs_l')
					top: calc(50% - 88px)
				&::before
					left: -15px
				&::after
					right: -15px
					+rotate(180)
		&-text
			float: left
			width: percentage(945 / 1452)
			+r(1879)
				float: none
				width: 100%
		&-descr
			line-height: 22px
		&-sub-title
			margin: 15px 0
			+f('con', 16)
			+lg
				margin: 10px 0
			+xs
				font-size: 17px