.parking
	padding: 30px 15px 0
	&__title
		margin-bottom: 20px
	&__container
		max-width: 1300px
	&__block
		position: relative
		height: 845px
		+clr
	&__data
		position: absolute
		z-index: 1
		top: 0
		left: 0
	&__floor
		width: 134px
		height: 142px
		padding: 33px 15px
		border-radius: 10px
		background-color: #e7d3a9
		text-align: center
		line-height: 1
		animation: fadeIn 1.5s ease-in-out
		+nosel
		cursor: default
		&-count
			font-size: 50px
			color: $crimson
			+os-b
		&-text
			margin-top: -5px
			color: $crimson
			font-size: 24px
			+os-r
	&__info
		display: none
		min-width: 362px
		margin-top: 40px
		padding: 30px 5px 25px 25px
		border-radius: 10px
		background-color: #e7d3a9
		font-size: 24px
		+nosel
		&.is-visible
			display: block
			animation: flipInX 1s ease-in
		&-item
			line-height: 1
			&:not(:first-child)
				margin-top: 10px
		&-text
			color: $grey
			+os-r
		&-data
			color: $crimson
			+os-b
		span
			display: inline-block
			vertical-align: middle
		sup
			font-size: 12px
			vertical-align: super
			
	&__scheme-wrap
		float: right
		width: percentage(1106 / 1270)
	&__scheme
		display: none
		&.slick-initialized
			display: block
		&-item
			position: relative
			&.slick-active
				animation: fadeIn 1.5s ease-in-out
		&-btn
			position: absolute
			left: -9.8%
			z-index: 3
			font-size: 0
			animation: fadeIn 1.5s ease-in-out
			&_prev
				top: 1%
				+rotate(-90)
			&_next
				top: 12.5%
				+rotate(90)
			&-icon
				fill: $crimson
				font-size: 24px
		&-btn.slick-disabled &-btn-icon
			fill: rgba(123,35,44,.3)
			
	&__place
		position: absolute
		z-index: 2
		cursor: pointer
		+tr(background .3s)
		+hover
			background: rgba($crimson, .3)
		&.is-active
			background: rgba($crimson, .3)
		&_1
			width: 10%
			height: 6.6%
			bottom: 1%
			left: 0
		&_2
			width: 10.1%
			height: 6.6%
			bottom: 1%
			left: 11.1%
		&_3
			width: 10%
			height: 6.6%
			bottom: 1%
			left: 22.1%
		&_4
			width: 10%
			height: 6.6%
			bottom: 20%
			left: 32.1%
		&_5
			width: 10%
			height: 6.6%
			bottom: 26.6%
			left: 32.1%
		&_6
			width: 9.6%
			height: 7.8%
			bottom: 33.1%
			left: 32%
		&_7
			width: 9.6%
			height: 7.8%
			bottom: 41%
			left: 32%
		&_8
			width: 9.6%
			height: 6.8%
			bottom: 49.4%
			left: 32%
		&_9
			width: 9.6%
			height: 6%
			bottom: 57.5%
			left: 32%
		&_10
			width: 9.6%
			height: 7%
			bottom: 63.6%
			left: 32%
		&_11
			width: 9.6%
			height: 6%
			bottom: 70.9%
			left: 32%
		&_12
			width: 9.6%
			height: 7%
			bottom: 78%
			left: 32%
		&_13
			width: 8.8%
			height: 7.9%
			bottom: 78%
			left: 42.2%
		&_14
			width: 9.4%
			height: 6%
			bottom: 70.9%
			left: 41.7%
		&_15
			width: 9.4%
			height: 7.1%
			bottom: 63.6%
			left: 41.7%
		&_16
			width: 9.4%
			height: 6.1%
			bottom: 57.4%
			left: 41.7%
		&_17
			width: 9.4%
			height: 7.1%
			bottom: 49.2%
			left: 41.7%
		&_18
			width: 9.4%
			height: 7.3%
			bottom: 40.8%
			left: 41.7%
		&_19
			width: 9.4%
			height: 7.6%
			bottom: 33.1%
			left: 41.7%
		&_20
			width: 5%
			height: 13.2%
			bottom: 19.9%
			left: 44.4%
		&_21
			width: 5%
			height: 13.2%
			bottom: 19.9%
			left: 49.3%
		&_22
			width: 9.3%
			height: 7.4%
			bottom: 33.4%
			left: 60.2%
		&_23
			width: 9.3%
			height: 7.4%
			bottom: 41.1%
			left: 60.2%
		&_24
			width: 9.3%
			height: 7.4%
			bottom: 48.8%
			left: 60.2%
		&_25
			width: 9.3%
			height: 6%
			bottom: 57.5%
			left: 60.2%
		&_26
			width: 9.3%
			height: 7.4%
			bottom: 63.6%
			left: 60.2%
		&_27
			width: 9.3%
			height: 7.4%
			bottom: 63.6%
			left: 69.6%
		&_28
			width: 9.3%
			height: 6%
			bottom: 57.5%
			left: 69.5%
		&_29
			width: 9.3%
			height: 7.3%
			bottom: 49%
			left: 69.5%
		&_30
			width: 9.3%
			height: 7.4%
			bottom: 41.1%
			left: 69.5%
		&_31
			width: 9.3%
			height: 7.3%
			bottom: 33.5%
			left: 69.5%
		&_32
			width: 9.6%
			height: 7%
			bottom: 26.4%
			left: 69.3%
		&_33
			width: 9.6%
			height: 7%
			bottom: 19.4%
			left: 69.3%
		&_34
			width: 10.1%
			height: 6.7%
			bottom: 0.8%
			left: 44.9%
		&_35
			width: 10.1%
			height: 6.7%
			bottom: 0.8%
			left: 55.9%
		&_36
			width: 10%
			height: 6.7%
			bottom: .8%
			left: 66.7%
		&_37
			width: 9.3%
			height: 7%
			bottom: 26.6%
			left: 89.2%
		&_38
			width: 9.3%
			height: 7.1%
			bottom: 33.8%
			left: 89.2%
		&_39
			width: 9.3%
			height: 7.1%
			bottom: 41%
			left: 89.2%
		&_40
			width: 9.3%
			height: 7.1%
			bottom: 49.2%
			left: 89.2%
		&_41
			width: 9.3%
			height: 6.2%
			bottom: 57.4%
			left: 89.2%
		&_42
			width: 9.3%
			height: 7.3%
			bottom: 63.4%
			left: 89.2%
		&_43
			width: 9.3%
			height: 6.2%
			bottom: 70.7%
			left: 89.2%
		&_44
			width: 9.3%
			height: 7.3%
			bottom: 78%
			left: 89.2%
		&_45
			width: 9.6%
			height: 7%
			bottom: 85.1%
			left: 89.2%