if advantage ? advantage : advantage = []
if advantage.title ? advantage.title : advantage.title = ['Преимущества']
if advantage.inTitle ? advantage.inTitle : advantage.inTitle = ['Когда представления о комфортной жизни воплощаются в реальность']

//begin advantage
+b.advantage(class= advantageClass ? advantageClass : '')
	+e.H2.title.title-decor-sm
		+e.SPAN= advantage.title
	+e.in.js-advantage-popups
		+e.H3.in-title.title-decor-lg
			+e.SPAN= advantage.inTitle

		mixin advantageItem(item)
			+e.item(class='_#{item.posClass}')
				+e.item-circle
					+e.item-pic(class='_#{item.pic}')
				+e.P.item-title= item.title
					if item.brTitle
						+e.BR
						= item.brTitle
				+e.item-details
					+e.item-details-title= item.detailsTitle
					+e.P.item-details-descr Теперь идя за машиной не нужно выходить на улицу. Спускайтесь в паркинг и поднимайтесь в квартиру на лифте за пару минут. Теперь провожать и встречать своих родных можно в домашних тапочках - так уютно и приятно!
		each item in advantageList
			+advantageItem(item)
//end advantage