//begin header
+b.HEADER.header#js-header-scroll
	+e.H1 Преображенский двор
	+e.in
		+e.A.logo.logo(href='#!')
			+e.IMG(src='img/logo.png')

		+b.menu.header__menu
			+e.UL.list.js-menu-list
				+e.LI.list-item.is-active
					+e.A.list-link
						+e.SPAN Концепция проекта
						+icon('icon-arr-smp', 'menu__list-icon')
					+e.UL.sub-list
						+e.LI
							+e.A(href='#!') О проекте
						+e.LI
							+e.A(href='#!') Историческая справка
						+e.LI
							+e.A(href='#!') О застройщике
						+e.LI
							+e.A(href='#!') Документация
						+e.LI
							+e.A(href='#!') Техническая карта
						+e.LI
							+e.A(href='#!') Преимущества

				+e.LI.list-item
					+e.A.list-link(href='#!')
						+e.SPAN Расположение

				+e.LI.list-item
					+e.A.list-link
						+e.SPAN Цены и планировки
						+icon('icon-arr-smp', 'menu__list-icon')
					+e.UL.sub-list
						+e.LI
							+e.A(href='#!') О проекте
						+e.LI
							+e.A(href='#!') Историческая справка
						+e.LI
							+e.A(href='#!') О застройщике
						+e.LI
							+e.A(href='#!') Документация

				+e.LI.list-item
					+e.A.list-link(href='#!')
						+e.SPAN Как купить
				+e.LI.list-item
					+e.A.list-link(href='#!')
						+e.SPAN Дневник стройки
				+e.LI.list-item
					+e.A.list-link(href='#!')
						+e.SPAN Безопасность
				+e.LI.list-item
					+e.A.list-link(href='#!')
						+e.SPAN Новости и Акции
				+e.LI.list-item
					+e.A.list-link(href='#!')
						+e.SPAN Контакты

		+e.H2.title-decor.title-decor-lg._double-sm
			+e.SPAN Уют премиум-класса в историческом центре Самары

		+b.address._header
			+e.A.item._link(href='#!')
				+e.SPAN Адрес офиса продаж
			+e.A.item._tel(href='tel:+78462443504') +7 (846) 244-35-04
			+e.A.btn.btn._red(href='#!') Оставить заявку
//end header