//begin header
+b.HEADER.header
	//+e.H1.title Преображенский двор
	+e.in(style='background-image: url(img/bg/header_bg.jpg)')
		+e.container.container
			+e.A.logo.logo(href='#!')
				+e.IMG(src='img/logo.png')

			+e.H2.title-decor.title-decor-lg
				+e.SPAN Оазис респектабельной жизни в историческом центре Самары

			+b.address._header
				+e.A.item._link(href='#!')
					+e.SPAN Адрес офиса продаж
				+e.A.item._tel(href='tel:+78462443504') +7 (846) 244-35-04
				+e.A.btn.btn._red(href='#!') Оставить заявку

	-var navClass = '_header'
	include ../components/_nav
//end header
