if navList ? navList : navList = ['О проекте', 'Расположение', 'Цены и планировки', 'Как купить', 'Дневник стройки', 'Безопасность', 'Новости', 'Контакты']

//begin nav
+b.NAV.nav(class= navClass? navClass : '')
	+e.UL.list
		each navLink, index in navList
			-var activeIndex = 4;
			+e.LI.list-item(class= index === activeIndex - 1 ? 'is-active' : '')
				+e.A.list-link(href='#!')= navLink
//end nav
