.about
	&__title
		margin-bottom: 55px
		+lg
			margin-bottom: 35px
		+xs
			margin-bottom: 20px
	&__descr
		margin-bottom: 30px
		&-item
			line-height: 24px
			&:not(:first-child)
				margin-top: 24px
		&-text
			+lg
				text-indent: 25px
				
	&__slider
		display: none
		margin: 0 auto
		&.slick-initialized
			display: block
		&-item
		.slick-arrow
			position: absolute
			top: calc(50% - 24px)
			height: 48px
			width: 48px
			border: 2px solid $crimson
			border-radius: 50%
			+hide-text
			+r(424)
				top: auto
				bottom: 0
			&::before
				content: ''
				position: absolute
				top: 13px
				left: 5px
				+s('sld-btn')
		.slick-next
			left: 0
		.slick-prev
			right: 0
			&::before
				+rotate(180)
				
		&_concept
			max-width: 1320px
			padding: 0 95px
			+lg
				padding: 0 60px
			+r(424)
				padding: 0 0 60px
		&_concept &-item
			height: 239px
			margin: 0 6px
			+lg
				height: 184px
			+xs
				height: auto
				margin: 0
			+r(424)
				height: 198px
		&_default
			max-width: 1340px
			padding: 0 98px
			+r(1879)
				padding: 0 55px
			+r(424)
				padding: 0 0 60px
		&_default &-item
			height: 198px
			margin: 0 10px
			+r(1879)
				margin: 0 5px
				
	&_developer
		padding: 110px 20px 15px 40px
		+lg
			padding: 80px 20px 30px 20px
		+sm
			padding: 40px 20px 30px
		+xs
			padding: 60px 10px 30px
	&_developer &__title
		margin-bottom: 60px
		+sm
			margin-bottom: 40px
		+xs
			margin-bottom: 20px
	&_developer &__title span
		padding: 0 164px
		+sm
			padding: 0 130px
		+xs
			padding: 0
	&_developer &__descr-item
		&:not(:first-child)
			margin-top: 15px
		
	&_concept
		padding: 110px 20px 15px 40px
		+lg
			padding: 110px 25px 40px 25px
		+sm
			padding: 40px 15px 30px
		+xs
			padding: 40px 10px 30px
	&_concept &__descr
		margin-bottom: 20px
	&_concept &__descr-item
		&:not(:first-child)
			margin-top: 10px
