body
	min-width: 320px
	font-family: 'Open Sans', Arial, sans-serif
	font-weight: 300
	font-size: 16px
	line-height: 24px
	color: $black
	&.is-locked
		position: fixed
		top: 0
		left: 0
		right: 0
		height: 100%
		overflow: hidden

h1, h2, h3, h4, h5, h6
	font-weight: normal

a
	color: inherit
	text-decoration: none
	
button
	background-color: transparent
	+os-l
	
h1, h2, h3, h4, h5, h6, p, a, span, div, img, mark, ul, li
	&::selection
		color: $white
		background-color: $crimson

img
	vertical-align: top
	max-width: 100%
	
::-ms-clear,
::-ms-reveal
	display: none
	width: 0
	height: 0

input:invalid
	box-shadow: none

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none
	margin: 0

video::-webkit-media-controls-start-playback-button
	display: none !important
	
// images
.obj-fit
	width: 100%
	height: 100%
	object-fit: cover
	font-family: 'object-fit: cover;'
	
// titles
.title-decor-xl
	+f('con', 67, 72)
	color: $white
	text-align: center
	span
		position: relative
		padding: 0 176px
		&::before, &::after
			content: ''
			position: absolute
			top: 42%
			z-index: 1
			+s('title-decor-xl')
		&::before
			left: 0
		&::after
			right: 0
			transform: rotateY(-180deg)
	&_red
		color: $crimson
		span
			display: block
			&::before, &::after
				top: 50%
				+s('title-decor-xl_red')
				
.title-decor-lg
	position: relative
	padding: 0 0 4px
	+f('con', 36)
	color: $crimson
	text-align: center
	border-top: 3px solid $crimson
	border-bottom: 3px solid $crimson
	line-height: 42px
	&::before, &::after
		content: ''
		position: absolute
		left: calc(50% - 32px)
		z-index: 1
		+s('title-decor-lg')
	&::after
		top: -45px
	&::before
		bottom: -45px
		+rotate(180)
	span
		display: inline-block
		vertical-align: middle
		padding: 5px 0
		border-top: 1px solid #725b55
		border-bottom: 1px solid #725b55
	&_double-sm
		padding: 5px 0
		font-size: 21px
		line-height: 24px
		border-top-width: 1px
		border-bottom-width: 1px
		span
			padding: 0
			border-top-color: #d1ac88
			border-bottom-color: #d1ac88
			line-height: 25px
		&::before
			top: -25px
			transform: none
			+s('title-decor-xs_t')
		&::after
			top: auto
			bottom: -25px
			+s('title-decor-xs_b')
			
.title-decor-sm
	+f('con', 42)
	color: $crimson
	text-align: center
	span
		position: relative
		padding: 0 115px
		&::before, &::after
			content: ''
			position: absolute
			top: calc(50% - 10px)
			z-index: 1
			+s('title-decor-sm')
		&::before
			left: 0
		&::after
			right: 0
			transform: rotateY(-180deg)
			
// buttons
.btn
	display: inline-block
	vertical-align: top
	padding: 0 39px
	border-radius: 10px
	transition: background-color .2s
	&_red
		height: 38px
		color: $white
		background-color: $crimson
		font-size: 17px
		line-height: 37px
		+os-r
		+hover
			background-color: darken($crimson, 5)
	&_red-lg
		padding: 0 27px
		height: 49px
		line-height: 49px
		color: $white
		background: $crimson
		+rob-b
		font-size: 24px
		text-transform: uppercase
		+hover
			background-color: darken($crimson, 5)
	&_decor
		position: relative
		&::after
			content: ''
			pointer-events: none
			position: absolute
			left: calc(50% - 122px)
			bottom: -160%
			z-index: 1
			+s('horiz-decor-w')
			
/* links
	----------------------------------- */
.link
	+f('con', 17)
	color: $crimson
	text-decoration: underline
	+hover
		text-decoration: none
		
/* inputs
	----------------------------------- */
.input
	width: 100%
	height: 42px
	line-height: 42px
	padding: 0 15px
	border-radius: 5px
	border: 1px solid #f0d4aa
	+os-l
	font-size: 14px
	color: $black
	+placeholder-color($grey)
