// basic styles
body
	min-width: 320px
	font-family: 'Open Sans', Arial, sans-serif
	font-weight: 300
	font-size: 16px
	line-height: 24px
	color: $black
	&.is-locked
		position: fixed
		top: 0
		left: 0
		right: 0
		height: 100%
		overflow: hidden

h1, h2, h3, h4, h5, h6
	font-weight: normal

a
	color: inherit
	text-decoration: none
	
button
	background-color: transparent

h1, h2, h3, h4, h5, h6, p, a, span, div, img, mark, ul, li
	&::selection
		color: $white
		background-color: $crimson

img
	vertical-align: top
	max-width: 100%
	
::-ms-clear,
::-ms-reveal
	display: none
	width: 0
	height: 0

input:invalid
	box-shadow: none

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none
	margin: 0

video::-webkit-media-controls-start-playback-button
	display: none !important
	
.obj-fit
	width: 100%
	height: 100%
	object-fit: cover
	font-family: 'object-fit: cover;'
	
// titles
.title-decor-lg
	position: relative
	padding: 4px 0
	+f('con', 36)
	color: $crimson
	text-align: center
	border-top: 3px solid $crimson
	border-bottom: 3px solid $crimson
	&::before, &::after
		content: ''
		position: absolute
		left: calc(50% - 32px)
		z-index: 1
	&::after
		top: -45px
		+s('title-decor-lg')
	span
		display: inline-block
		vertical-align: middle
		padding: 5px 0
		border-top: 1px solid #725b55
		border-bottom: 1px solid #725b55
	&_double
		padding: 5px 0
		font-size: 21px
		border-top-width: 1px
		border-bottom-width: 1px
		span
			padding: 0
			border-top-color: #d1ac88
			border-bottom-color: #d1ac88
			line-height: 25px
		&::before
			top: -25px
			+s('title-decor-xs_t')
		&::after
			top: auto
			bottom: -25px
			+s('title-decor-xs_b')

.title-decor-md
	+f('con', 67, 89)
	
.title-decor-sm
	+f('con', 42)
	color: $crimson
	text-align: center
	span
		position: relative
		padding: 0 115px
		&::before, &::after
			content: ''
			position: absolute
			top: calc(50% - 10px)
			z-index: 1
		&::before
			left: 0
			+s('title-decor-sm')
		&::after
			right: 0
			transform: rotateY(-180deg)
			+s('title-decor-sm')
		
// buttons
.btn
	display: inline-block
	vertical-align: top
	padding: 0 39px
	border-radius: 10px
	transition: background-color .2s
	&_red
		height: 38px
		color: $white
		background-color: $crimson
		font-size: 17px
		line-height: 37px
		+os-r
		+hover
			background-color: darken($crimson, 5)
			
/* links
	----------------------------------- */
.link
	+f('con', 17)
	color: $crimson
	text-decoration: underline
	+hover
		text-decoration: none