.header
	position: relative
	flex: 0 0 400px
	overflow-x: hidden
	overflow-y: auto
	padding: 15px 0 20px
	background: #f0d4aa url("../img/bg/header-decor_bg.png") no-repeat 50% 50%
	border-right: 3px solid $crimson
	&::after
		position: absolute
		top: calc(45% - 163px)
		right: -21px
		content: ''
		+s('vert-decor_red')
	&__in
		display: flex
		flex-direction: column
		height: 100%
		max-width: 300px
		margin: 0 auto
	&__title-decor
		margin: auto 0 63px
		
	&__logo
		margin: auto auto 40px
	&__menu
		padding: 0 0 35px 65px
	
	h1
		+hide-text
		
/* menu
	----------------------------------- */
.menu
	&__list
		$list: &
		+os-r
		line-height: 1
		&-item
			&:not(:first-child)
				margin-top: 6px
			&.is-active span
				border-bottom-color: $crimson
				color: $crimson
			&.is-active #{$list}-icon
				transform: scaleY(-1)
		&-link
			font-size: 18px
			cursor: pointer
			+hover
				color: $crimson
			span
				display: inline-block
				vertical-align: middle
				padding-bottom: 3px
				border-bottom: 1px solid transparent
		&-icon
			display: inline-block
			vertical-align: baseline
			margin-left: 6px
			fill: $crimson
			font-size: 6px
			+tr(transform .25s ease-in)
	&__sub-list
		display: none
		padding: 25px 0 25px 6px
		li
			position: relative
			padding-left: 30px
			&::before
				content: ''
				position: absolute
				left: 0
				top: 4px
				z-index: 1
				+s('arr-long')
			&:not(:first-child)
				margin-top: 8px
			a
				font-size: 16px
				+hover
					color: $crimson
				
/* address
	----------------------------------- */
.address
	$this: &
	+os-r
	&__item
		position: relative
		margin-bottom: 10px
		padding-left: 40px
		&::before
			content: ''
			position: absolute
			top: 8px
			left: 0
		&_link
			font-size: 20px
			line-height: 44px
			&::before
				+s('loc-marker')
			span
				border-bottom: 2px dashed #262423
				transition: .2s
				+hover
					border-bottom-color: transparent
		&_tel
			font-size: 24px
			line-height: 39px
			&::before
				+s('phone')
				
	&_header
		display: flex
		flex-direction: column
		align-items: flex-start
		padding: 0 18px
		#{$this}__btn
			align-self: center

/* logo
	----------------------------------- */
.logo
	display: block
	img
		display: block
		margin: 0 auto