.layout
	display: flex
	overflow: hidden
	height: 100vh
	
.container
	margin: 0 auto
	padding: 0 15px
	
.main
	position: relative
	flex: 1 1 auto
	&_home
		display: flex
		justify-content: flex-end
		padding: 25px 45px
	&_how-buy