/* time-bar
	----------------------------------- */
.time-bar
	font-size: 0
	text-align: center
	&__btn
		display: inline-block
		vertical-align: middle
		&:not(:first-child)
			margin-left: 19px
		.icon-sun
			font-size: 39px
		.icon-moon
			font-size: 31px
	&__btn.is-active &__icon
		opacity: 1
	&__icon
		fill: $white
		opacity: .3
		transition: opacity .3s
	&_home
		position: absolute
		right: 80px
		bottom: 85px

/* partners
	----------------------------------- */
.partners
	padding: 25px 0
	&__container
		max-width: 1072px
	&__title
		margin-bottom: 70px
	&__list
		display: flex
		justify-content: space-between
	&__item
		padding: 0 5px

/* arrow-link
	----------------------------------- */
.arrow-link
	position: relative
	margin-top: auto
	margin-bottom: 22px
	text-align: center
	+os-b
	font-size: 18px
	line-height: 1
	text-transform: uppercase
	&::before
		content: ''
		position: absolute
		top: -46px
		left: calc(50% - 8px)
	&_red
		color: $crimson
		&::before
			+s('arr_b-red')
	&_white
		color: $white
		&::before
			+s('arr_b-white')
	&_pos
		position: absolute
		left: 50%
		transform: translateX(-50%)
		bottom: 22px
		z-index: 1
		margin: 0
