$icons: (0:0)
$icons: map-merge($icons,('acr-read': (X: -512px, Y:-226px, W: 40px, H: 40px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('arr-long': (X: -545px, Y:-323px, W: 12px, H: 9px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('artificial': (X: -390px, Y:-60px, W: 49px, H: 49px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('baby': (X: -450px, Y:-231px, W: 48px, H: 44px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('bench': (X: -390px, Y:0px, W: 50px, H: 50px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('brickwall': (X: -512px, Y:-114px, W: 44px, H: 44px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('building': (X: -390px, Y:-119px, W: 49px, H: 49px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('camera': (X: -450px, Y:-178px, W: 51px, H: 43px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('car-parking': (X: -512px, Y:0px, W: 45px, H: 45px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('child-garden': (X: -512px, Y:-55px, W: 41px, H: 49px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('coffee': (X: -390px, Y:-238px, W: 41px, H: 50px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('food': (X: -390px, Y:-178px, W: 41px, H: 50px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('handshake': (X: -450px, Y:0px, W: 52px, H: 46px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('horiz-decor-xs': (X: -149px, Y:-54px, W: 176px, H: 25px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('horiz-decor-xs_l': (X: -114px, Y:-54px, W: 25px, H: 176px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('horiz-decor': (X: -114px, Y:0px, W: 266px, H: 44px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('loc-marker': (X: -512px, Y:-323px, W: 23px, H: 28px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('loupe': (X: -512px, Y:-276px, W: 37px, H: 37px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('nav-decor': (X: -272px, Y:-240px, W: 100px, H: 24px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('phone': (X: -512px, Y:-390px, W: 24px, H: 26px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('picture': (X: -512px, Y:-426px, W: 24px, H: 19px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('piggy-bank': (X: 0px, Y:-438px, W: 53px, H: 44px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('planning': (X: -450px, Y:-56px, W: 48px, H: 49px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('rest': (X: -450px, Y:-115px, W: 44px, H: 53px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('room': (X: -149px, Y:-167px, W: 56px, H: 56px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('shool': (X: -512px, Y:-168px, W: 40px, H: 48px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('shopping': (X: -450px, Y:-346px, W: 41px, H: 50px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('skyline': (X: -114px, Y:-240px, W: 53px, H: 57px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sld-btn': (X: -512px, Y:-361px, W: 33px, H: 19px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('swing': (X: 0px, Y:-386px, W: 58px, H: 42px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('theatre': (X: -450px, Y:-285px, W: 41px, H: 51px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('title-decor-lg': (X: -227px, Y:-89px, W: 109px, H: 40px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('title-decor-sm': (X: -215px, Y:-167px, W: 85px, H: 32px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('title-decor-xs_b': (X: -310px, Y:-167px, W: 65px, H: 24px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('title-decor-xs_t': (X: -73px, Y:-337px, W: 65px, H: 24px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('title-decor_r': (X: -177px, Y:-240px, W: 85px, H: 32px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('vert-decor': (X: -57px, Y:0px, W: 47px, H: 327px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('vert-decor_red': (X: 0px, Y:0px, W: 47px, H: 327px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('view-arr': (X: -149px, Y:-89px, W: 68px, H: 68px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('waterfall': (X: 0px, Y:-337px, W: 63px, H: 39px, TW: 557px, TH: 482px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-acr-read
//  width: 40px
//  height: 40px
//  background-image: url('../img/sprite.png')
//  background-position: -512px -226px
//
//.icon-arr-long
//  width: 12px
//  height: 9px
//  background-image: url('../img/sprite.png')
//  background-position: -545px -323px
//
//.icon-artificial
//  width: 49px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: -390px -60px
//
//.icon-baby
//  width: 48px
//  height: 44px
//  background-image: url('../img/sprite.png')
//  background-position: -450px -231px
//
//.icon-bench
//  width: 50px
//  height: 50px
//  background-image: url('../img/sprite.png')
//  background-position: -390px 0px
//
//.icon-brickwall
//  width: 44px
//  height: 44px
//  background-image: url('../img/sprite.png')
//  background-position: -512px -114px
//
//.icon-building
//  width: 49px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: -390px -119px
//
//.icon-camera
//  width: 51px
//  height: 43px
//  background-image: url('../img/sprite.png')
//  background-position: -450px -178px
//
//.icon-car-parking
//  width: 45px
//  height: 45px
//  background-image: url('../img/sprite.png')
//  background-position: -512px 0px
//
//.icon-child-garden
//  width: 41px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: -512px -55px
//
//.icon-coffee
//  width: 41px
//  height: 50px
//  background-image: url('../img/sprite.png')
//  background-position: -390px -238px
//
//.icon-food
//  width: 41px
//  height: 50px
//  background-image: url('../img/sprite.png')
//  background-position: -390px -178px
//
//.icon-handshake
//  width: 52px
//  height: 46px
//  background-image: url('../img/sprite.png')
//  background-position: -450px 0px
//
//.icon-horiz-decor-xs
//  width: 176px
//  height: 25px
//  background-image: url('../img/sprite.png')
//  background-position: -149px -54px
//
//.icon-horiz-decor-xs_l
//  width: 25px
//  height: 176px
//  background-image: url('../img/sprite.png')
//  background-position: -114px -54px
//
//.icon-horiz-decor
//  width: 266px
//  height: 44px
//  background-image: url('../img/sprite.png')
//  background-position: -114px 0px
//
//.icon-loc-marker
//  width: 23px
//  height: 28px
//  background-image: url('../img/sprite.png')
//  background-position: -512px -323px
//
//.icon-loupe
//  width: 37px
//  height: 37px
//  background-image: url('../img/sprite.png')
//  background-position: -512px -276px
//
//.icon-nav-decor
//  width: 100px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -272px -240px
//
//.icon-phone
//  width: 24px
//  height: 26px
//  background-image: url('../img/sprite.png')
//  background-position: -512px -390px
//
//.icon-picture
//  width: 24px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -512px -426px
//
//.icon-piggy-bank
//  width: 53px
//  height: 44px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -438px
//
//.icon-planning
//  width: 48px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: -450px -56px
//
//.icon-rest
//  width: 44px
//  height: 53px
//  background-image: url('../img/sprite.png')
//  background-position: -450px -115px
//
//.icon-room
//  width: 56px
//  height: 56px
//  background-image: url('../img/sprite.png')
//  background-position: -149px -167px
//
//.icon-shool
//  width: 40px
//  height: 48px
//  background-image: url('../img/sprite.png')
//  background-position: -512px -168px
//
//.icon-shopping
//  width: 41px
//  height: 50px
//  background-image: url('../img/sprite.png')
//  background-position: -450px -346px
//
//.icon-skyline
//  width: 53px
//  height: 57px
//  background-image: url('../img/sprite.png')
//  background-position: -114px -240px
//
//.icon-sld-btn
//  width: 33px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -512px -361px
//
//.icon-swing
//  width: 58px
//  height: 42px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -386px
//
//.icon-theatre
//  width: 41px
//  height: 51px
//  background-image: url('../img/sprite.png')
//  background-position: -450px -285px
//
//.icon-title-decor-lg
//  width: 109px
//  height: 40px
//  background-image: url('../img/sprite.png')
//  background-position: -227px -89px
//
//.icon-title-decor-sm
//  width: 85px
//  height: 32px
//  background-image: url('../img/sprite.png')
//  background-position: -215px -167px
//
//.icon-title-decor-xs_b
//  width: 65px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -310px -167px
//
//.icon-title-decor-xs_t
//  width: 65px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -73px -337px
//
//.icon-title-decor_r
//  width: 85px
//  height: 32px
//  background-image: url('../img/sprite.png')
//  background-position: -177px -240px
//
//.icon-vert-decor
//  width: 47px
//  height: 327px
//  background-image: url('../img/sprite.png')
//  background-position: -57px 0px
//
//.icon-vert-decor_red
//  width: 47px
//  height: 327px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-view-arr
//  width: 68px
//  height: 68px
//  background-image: url('../img/sprite.png')
//  background-position: -149px -89px
//
//.icon-waterfall
//  width: 63px
//  height: 39px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -337px
//