$icons: (0:0)
$icons: map-merge($icons,('acr-read': (X: -308px, Y:-146px, W: 40px, H: 40px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('arr-long': (X: -668px, Y:-178px, W: 12px, H: 9px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('arr_b-red': (X: -625px, Y:-207px, W: 31px, H: 33px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('arr_b-white': (X: -349px, Y:-198px, W: 31px, H: 33px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('artificial': (X: -172px, Y:-198px, W: 49px, H: 49px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('artificial_w': (X: -172px, Y:-257px, W: 49px, H: 49px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('baby': (X: 0px, Y:-478px, W: 48px, H: 44px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('baby_w': (X: -58px, Y:-478px, W: 48px, H: 44px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('bench': (X: -560px, Y:-285px, W: 50px, H: 50px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('bench_w': (X: -455px, Y:-373px, W: 50px, H: 50px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('brickwall': (X: -116px, Y:-478px, W: 44px, H: 44px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('building': (X: -231px, Y:-198px, W: 49px, H: 49px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('building_w': (X: -290px, Y:-198px, W: 49px, H: 49px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('camera': (X: -321px, Y:-332px, W: 51px, H: 43px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('camera_w': (X: -191px, Y:-391px, W: 51px, H: 43px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('car-parking': (X: -204px, Y:-532px, W: 45px, H: 45px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('car-parking_w': (X: -259px, Y:-532px, W: 45px, H: 45px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('child-garden': (X: 0px, Y:-593px, W: 41px, H: 49px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('coffee': (X: -153px, Y:-532px, W: 41px, H: 50px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('compass': (X: 0px, Y:0px, W: 127px, H: 131px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('double-arrs': (X: -252px, Y:-391px, W: 40px, H: 26px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('download': (X: -668px, Y:-126px, W: 15px, H: 17px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('food': (X: -102px, Y:-532px, W: 41px, H: 50px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('handshake': (X: -231px, Y:-257px, W: 52px, H: 46px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('handshake_w': (X: -293px, Y:-257px, W: 52px, H: 46px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('horiz-decor-red': (X: -137px, Y:0px, W: 245px, H: 63px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('horiz-decor-w': (X: -137px, Y:-73px, W: 245px, H: 63px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('horiz-decor-xs': (X: -428px, Y:-172px, W: 176px, H: 25px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('horiz-decor-xs_l': (X: -137px, Y:-146px, W: 25px, H: 176px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('horiz-decor': (X: -392px, Y:0px, W: 266px, H: 44px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('loc-marker': (X: -358px, Y:-146px, W: 23px, H: 28px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('loupe': (X: -620px, Y:-285px, W: 37px, H: 37px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('phone': (X: -355px, Y:-257px, W: 24px, H: 26px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('picture': (X: -542px, Y:-440px, W: 24px, H: 19px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('piggy-bank': (X: -195px, Y:-332px, W: 53px, H: 44px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('piggy-bank_w': (X: -258px, Y:-332px, W: 53px, H: 44px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('plan-str-label': (X: -668px, Y:0px, W: 19px, H: 90px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('planning': (X: -137px, Y:-332px, W: 48px, H: 49px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('printer': (X: -668px, Y:-153px, W: 17px, H: 15px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('rest': (X: -137px, Y:-391px, W: 44px, H: 53px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('room': (X: -428px, Y:-285px, W: 56px, H: 56px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('room_w': (X: -494px, Y:-285px, W: 56px, H: 56px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('school': (X: -51px, Y:-593px, W: 40px, H: 48px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('shopping': (X: -51px, Y:-532px, W: 41px, H: 50px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('skyline': (X: -392px, Y:-373px, W: 53px, H: 57px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sld-btn': (X: -614px, Y:-172px, W: 33px, H: 19px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('star': (X: -668px, Y:-100px, W: 16px, H: 16px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('swing': (X: -172px, Y:-146px, W: 58px, H: 42px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('swing_w': (X: -240px, Y:-146px, W: 58px, H: 42px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('theatre': (X: 0px, Y:-532px, W: 41px, H: 51px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('title-decor-lg': (X: -506px, Y:-207px, W: 109px, H: 40px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('title-decor-sm': (X: -569px, Y:-113px, W: 85px, H: 32px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('title-decor-xl': (X: -428px, Y:-113px, W: 131px, H: 49px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('title-decor-xl_red': (X: -428px, Y:-54px, W: 131px, H: 49px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('title-decor-xs_b': (X: -392px, Y:-440px, W: 65px, H: 24px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('title-decor-xs_t': (X: -467px, Y:-440px, W: 65px, H: 24px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('title-decor_r': (X: -569px, Y:-54px, W: 85px, H: 32px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('vert-decor': (X: -57px, Y:-141px, W: 47px, H: 327px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('vert-decor_red': (X: 0px, Y:-141px, W: 47px, H: 327px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('vert-decor_sm': (X: -392px, Y:-54px, W: 26px, H: 309px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('view-arr': (X: -428px, Y:-207px, W: 68px, H: 68px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('waterfall': (X: -515px, Y:-373px, W: 63px, H: 39px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('waterfall_w': (X: -588px, Y:-373px, W: 63px, H: 39px, TW: 687px, TH: 642px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-acr-read
//  width: 40px
//  height: 40px
//  background-image: url('../img/sprite.png')
//  background-position: -308px -146px
//
//.icon-arr-long
//  width: 12px
//  height: 9px
//  background-image: url('../img/sprite.png')
//  background-position: -668px -178px
//
//.icon-arr_b-red
//  width: 31px
//  height: 33px
//  background-image: url('../img/sprite.png')
//  background-position: -625px -207px
//
//.icon-arr_b-white
//  width: 31px
//  height: 33px
//  background-image: url('../img/sprite.png')
//  background-position: -349px -198px
//
//.icon-artificial
//  width: 49px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: -172px -198px
//
//.icon-artificial_w
//  width: 49px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: -172px -257px
//
//.icon-baby
//  width: 48px
//  height: 44px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -478px
//
//.icon-baby_w
//  width: 48px
//  height: 44px
//  background-image: url('../img/sprite.png')
//  background-position: -58px -478px
//
//.icon-bench
//  width: 50px
//  height: 50px
//  background-image: url('../img/sprite.png')
//  background-position: -560px -285px
//
//.icon-bench_w
//  width: 50px
//  height: 50px
//  background-image: url('../img/sprite.png')
//  background-position: -455px -373px
//
//.icon-brickwall
//  width: 44px
//  height: 44px
//  background-image: url('../img/sprite.png')
//  background-position: -116px -478px
//
//.icon-building
//  width: 49px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: -231px -198px
//
//.icon-building_w
//  width: 49px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: -290px -198px
//
//.icon-camera
//  width: 51px
//  height: 43px
//  background-image: url('../img/sprite.png')
//  background-position: -321px -332px
//
//.icon-camera_w
//  width: 51px
//  height: 43px
//  background-image: url('../img/sprite.png')
//  background-position: -191px -391px
//
//.icon-car-parking
//  width: 45px
//  height: 45px
//  background-image: url('../img/sprite.png')
//  background-position: -204px -532px
//
//.icon-car-parking_w
//  width: 45px
//  height: 45px
//  background-image: url('../img/sprite.png')
//  background-position: -259px -532px
//
//.icon-child-garden
//  width: 41px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -593px
//
//.icon-coffee
//  width: 41px
//  height: 50px
//  background-image: url('../img/sprite.png')
//  background-position: -153px -532px
//
//.icon-compass
//  width: 127px
//  height: 131px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-double-arrs
//  width: 40px
//  height: 26px
//  background-image: url('../img/sprite.png')
//  background-position: -252px -391px
//
//.icon-download
//  width: 15px
//  height: 17px
//  background-image: url('../img/sprite.png')
//  background-position: -668px -126px
//
//.icon-food
//  width: 41px
//  height: 50px
//  background-image: url('../img/sprite.png')
//  background-position: -102px -532px
//
//.icon-handshake
//  width: 52px
//  height: 46px
//  background-image: url('../img/sprite.png')
//  background-position: -231px -257px
//
//.icon-handshake_w
//  width: 52px
//  height: 46px
//  background-image: url('../img/sprite.png')
//  background-position: -293px -257px
//
//.icon-horiz-decor-red
//  width: 245px
//  height: 63px
//  background-image: url('../img/sprite.png')
//  background-position: -137px 0px
//
//.icon-horiz-decor-w
//  width: 245px
//  height: 63px
//  background-image: url('../img/sprite.png')
//  background-position: -137px -73px
//
//.icon-horiz-decor-xs
//  width: 176px
//  height: 25px
//  background-image: url('../img/sprite.png')
//  background-position: -428px -172px
//
//.icon-horiz-decor-xs_l
//  width: 25px
//  height: 176px
//  background-image: url('../img/sprite.png')
//  background-position: -137px -146px
//
//.icon-horiz-decor
//  width: 266px
//  height: 44px
//  background-image: url('../img/sprite.png')
//  background-position: -392px 0px
//
//.icon-loc-marker
//  width: 23px
//  height: 28px
//  background-image: url('../img/sprite.png')
//  background-position: -358px -146px
//
//.icon-loupe
//  width: 37px
//  height: 37px
//  background-image: url('../img/sprite.png')
//  background-position: -620px -285px
//
//.icon-phone
//  width: 24px
//  height: 26px
//  background-image: url('../img/sprite.png')
//  background-position: -355px -257px
//
//.icon-picture
//  width: 24px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -542px -440px
//
//.icon-piggy-bank
//  width: 53px
//  height: 44px
//  background-image: url('../img/sprite.png')
//  background-position: -195px -332px
//
//.icon-piggy-bank_w
//  width: 53px
//  height: 44px
//  background-image: url('../img/sprite.png')
//  background-position: -258px -332px
//
//.icon-plan-str-label
//  width: 19px
//  height: 90px
//  background-image: url('../img/sprite.png')
//  background-position: -668px 0px
//
//.icon-planning
//  width: 48px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: -137px -332px
//
//.icon-printer
//  width: 17px
//  height: 15px
//  background-image: url('../img/sprite.png')
//  background-position: -668px -153px
//
//.icon-rest
//  width: 44px
//  height: 53px
//  background-image: url('../img/sprite.png')
//  background-position: -137px -391px
//
//.icon-room
//  width: 56px
//  height: 56px
//  background-image: url('../img/sprite.png')
//  background-position: -428px -285px
//
//.icon-room_w
//  width: 56px
//  height: 56px
//  background-image: url('../img/sprite.png')
//  background-position: -494px -285px
//
//.icon-school
//  width: 40px
//  height: 48px
//  background-image: url('../img/sprite.png')
//  background-position: -51px -593px
//
//.icon-shopping
//  width: 41px
//  height: 50px
//  background-image: url('../img/sprite.png')
//  background-position: -51px -532px
//
//.icon-skyline
//  width: 53px
//  height: 57px
//  background-image: url('../img/sprite.png')
//  background-position: -392px -373px
//
//.icon-sld-btn
//  width: 33px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -614px -172px
//
//.icon-star
//  width: 16px
//  height: 16px
//  background-image: url('../img/sprite.png')
//  background-position: -668px -100px
//
//.icon-swing
//  width: 58px
//  height: 42px
//  background-image: url('../img/sprite.png')
//  background-position: -172px -146px
//
//.icon-swing_w
//  width: 58px
//  height: 42px
//  background-image: url('../img/sprite.png')
//  background-position: -240px -146px
//
//.icon-theatre
//  width: 41px
//  height: 51px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -532px
//
//.icon-title-decor-lg
//  width: 109px
//  height: 40px
//  background-image: url('../img/sprite.png')
//  background-position: -506px -207px
//
//.icon-title-decor-sm
//  width: 85px
//  height: 32px
//  background-image: url('../img/sprite.png')
//  background-position: -569px -113px
//
//.icon-title-decor-xl
//  width: 131px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: -428px -113px
//
//.icon-title-decor-xl_red
//  width: 131px
//  height: 49px
//  background-image: url('../img/sprite.png')
//  background-position: -428px -54px
//
//.icon-title-decor-xs_b
//  width: 65px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -392px -440px
//
//.icon-title-decor-xs_t
//  width: 65px
//  height: 24px
//  background-image: url('../img/sprite.png')
//  background-position: -467px -440px
//
//.icon-title-decor_r
//  width: 85px
//  height: 32px
//  background-image: url('../img/sprite.png')
//  background-position: -569px -54px
//
//.icon-vert-decor
//  width: 47px
//  height: 327px
//  background-image: url('../img/sprite.png')
//  background-position: -57px -141px
//
//.icon-vert-decor_red
//  width: 47px
//  height: 327px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -141px
//
//.icon-vert-decor_sm
//  width: 26px
//  height: 309px
//  background-image: url('../img/sprite.png')
//  background-position: -392px -54px
//
//.icon-view-arr
//  width: 68px
//  height: 68px
//  background-image: url('../img/sprite.png')
//  background-position: -428px -207px
//
//.icon-waterfall
//  width: 63px
//  height: 39px
//  background-image: url('../img/sprite.png')
//  background-position: -515px -373px
//
//.icon-waterfall_w
//  width: 63px
//  height: 39px
//  background-image: url('../img/sprite.png')
//  background-position: -588px -373px
//